In [1]:

import os
import os.path
import csv
from datetime import datetime
import pandas as pd
import numpy as np
import glob

In [2]:
citi201901_data = pd.read_csv("201901-citibike-tripdata.csv", error_bad_lines=False)
citi201902_data = pd.read_csv("201902-citibike-tripdata.csv", error_bad_lines=False)
citi201903_data = pd.read_csv("201903-citibike-tripdata.csv", error_bad_lines=False)
citi201904_data = pd.read_csv("201904-citibike-tripdata.csv", error_bad_lines=False)
citi201905_data = pd.read_csv("201905-citibike-tripdata.csv", error_bad_lines=False)
citi201906_data = pd.read_csv("201906-citibike-tripdata.csv", error_bad_lines=False)
citi201907_data = pd.read_csv("201907-citibike-tripdata.csv", error_bad_lines=False)
citi201908_data = pd.read_csv("201908-citibike-tripdata.csv", error_bad_lines=False)
citi201909_data = pd.read_csv("201909-citibike-tripdata.csv", error_bad_lines=False)
citi201910_data = pd.read_csv("201910-citibike-tripdata.csv", error_bad_lines=False)
citi201911_data = pd.read_csv("201911-citibike-tripdata.csv", error_bad_lines=False)
citi201912_data = pd.read_csv("201912-citibike-tripdata.csv", error_bad_lines=False)
citi202001_data = pd.read_csv("202001-citibike-tripdata.csv", error_bad_lines=False)
citi202002_data = pd.read_csv("202002-citibike-tripdata.csv", error_bad_lines=False)
citi202003_data = pd.read_csv("202003-citibike-tripdata.csv", error_bad_lines=False)
citi202004_data = pd.read_csv("202004-citibike-tripdata.csv", error_bad_lines=False)
citi202005_data = pd.read_csv("202005-citibike-tripdata.csv", error_bad_lines=False)

In [3]:
citi201901_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

citi202005_data.head()

In [4]:
citi202005_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,336,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,1
1,853,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,1
2,78,2020-05-01 00:01:08.5260,2020-05-01 00:02:27.0490,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,3789,Fulton St & Irving Pl,40.681860,-73.959432,33350,Subscriber,1938,2
3,1185,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,1
4,272,2020-05-01 00:02:32.8280,2020-05-01 00:07:05.0880,3776,Central Ave & Starr Street,40.700003,-73.928340,3068,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,1

In [5]:
citi_frames = [citi201901_data, citi201902_data, citi201903_data, citi201904_data, citi201905_data, citi201906_data, citi201907_data, citi201908_data, citi201909_data, citi201910_data, citi201911_data, citi201912_data, citi202001_data, citi202002_data, citi202003_data, citi202004_data, citi202005_data]
citi_result = pd.concat(citi_frames)
citi_result

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487885,981,2020-05-31 23:59:19.0310,2020-06-01 00:15:40.5590,313.0,Washington Ave & Park Ave,40.696102,-73.967510,217.0,Old Fulton St,40.702772,-73.993836,43706,Subscriber,1972,2
1487886,367,2020-05-31 23:59:36.2270,2020-06-01 00:05:43.6200,545.0,E 23 St & 1 Ave,40.736502,-73.978095,501.0,FDR Drive & E 35 St,40.744219,-73.971212,41321,Subscriber,1994,2
1487887,1798,2020-05-31 23:59:37.7250,2020-06-01 00:29:36.6800,450.0,W 49 St & 8 Ave,40.762272,-73.987882,485.0,W 37 St & 5 Ave,40.750380,-73.983390,37418,Subscriber,1998,1
1487888,718,2020-05-31 23:59:47.7090,2020-06-01 00:11:46.5210,3691.0,28 Ave & 44 St,40.764089,-73.910651,3691.0,28 Ave & 44 St,40.764089,-73.910651,41190,Customer,1969,0
1487889,1168,2020-05-31 23:59:48.0660,2020-06-01 00:19:16.4730,467.0,Dean St & 4 Ave,40.683125,-73.978951,239.0,Willoughby St & Fleet St,40.691966,-73.981302,33450,Customer,2000,1

In [6]:
citi_result.to_csv('Citi_Total_data.csv')

In [8]:
citi_pre_covid = [citi201901_data, citi201902_data, citi201903_data, citi201904_data, citi201905_data, citi201906_data, citi201907_data, citi201908_data, citi201909_data, citi201910_data, citi201911_data, citi201912_data, citi202001_data]
citi_precovid_df = pd.concat(citi_pre_covid)
citi_precovid_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240591,1587,2020-01-31 23:59:26.8820,2020-02-01 00:25:54.4890,3244.0,University Pl & E 8 St,40.731437,-73.994903,3092.0,Berry St & N 8 St,40.719009,-73.958525,40662,Subscriber,1990,1
1240592,222,2020-01-31 23:59:32.6410,2020-02-01 00:03:15.4720,383.0,Greenwich Ave & Charles St,40.735238,-74.000271,383.0,Greenwich Ave & Charles St,40.735238,-74.000271,28722,Subscriber,1983,1
1240593,163,2020-01-31 23:59:39.1780,2020-02-01 00:02:23.0400,150.0,E 2 St & Avenue C,40.720874,-73.980858,411.0,E 6 St & Avenue D,40.722281,-73.976687,32530,Subscriber,1958,2
1240594,327,2020-01-31 23:59:49.2310,2020-02-01 00:05:16.3790,483.0,E 12 St & 3 Ave,40.732233,-73.988900,3718.0,E 11 St & Avenue B,40.727464,-73.979504,15314,Customer,1994,1
1240595,484,2020-01-31 23:59:57.0360,2020-02-01 00:08:01.1820,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,534.0,Water - Whitehall Plaza,40.702551,-74.012723,30947,Subscriber,1987,1

In [9]:
citi_precovid_df.to_csv('Citi_precovid.csv')

In [10]:
citi_covid = [citi202002_data, citi202003_data, citi202004_data, citi202005_data]
citi_covid_df = pd.concat(citi_covid)
citi_covid_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1404,2020-02-01 00:00:05.9460,2020-02-01 00:23:30.7240,316,Fulton St & William St,40.709560,-74.006536,481,S 3 St & Bedford Ave,40.712605,-73.962644,28874,Customer,1995,1
1,1301,2020-02-01 00:00:06.2230,2020-02-01 00:21:48.0580,237,E 11 St & 2 Ave,40.730473,-73.986724,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,32588,Subscriber,1991,1
2,474,2020-02-01 00:00:15.7210,2020-02-01 00:08:10.3440,528,2 Ave & E 31 St,40.742909,-73.977061,3785,W 42 St & 6 Ave,40.754920,-73.984550,41013,Subscriber,1994,1
3,487,2020-02-01 00:00:21.0520,2020-02-01 00:08:28.7520,380,W 4 St & 7 Ave S,40.734011,-74.002939,3263,Cooper Square & Astor Pl,40.729515,-73.990753,27581,Subscriber,1973,2
4,619,2020-02-01 00:00:27.4000,2020-02-01 00:10:47.0640,472,E 32 St & Park Ave,40.745712,-73.981948,237,E 11 St & 2 Ave,40.730473,-73.986724,29062,Subscriber,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487885,981,2020-05-31 23:59:19.0310,2020-06-01 00:15:40.5590,313,Washington Ave & Park Ave,40.696102,-73.967510,217,Old Fulton St,40.702772,-73.993836,43706,Subscriber,1972,2
1487886,367,2020-05-31 23:59:36.2270,2020-06-01 00:05:43.6200,545,E 23 St & 1 Ave,40.736502,-73.978095,501,FDR Drive & E 35 St,40.744219,-73.971212,41321,Subscriber,1994,2
1487887,1798,2020-05-31 23:59:37.7250,2020-06-01 00:29:36.6800,450,W 49 St & 8 Ave,40.762272,-73.987882,485,W 37 St & 5 Ave,40.750380,-73.983390,37418,Subscriber,1998,1
1487888,718,2020-05-31 23:59:47.7090,2020-06-01 00:11:46.5210,3691,28 Ave & 44 St,40.764089,-73.910651,3691,28 Ave & 44 St,40.764089,-73.910651,41190,Customer,1969,0
1487889,1168,2020-05-31 23:59:48.0660,2020-06-01 00:19:16.4730,467,Dean St & 4 Ave,40.683125,-73.978951,239,Willoughby St & Fleet St,40.691966,-73.981302,33450,Customer,2000,1

In [11]:
citi_covid_df.to_csv('Citi_covid.csv')

In [12]:
citi_feb_may2019 = [citi201902_data, citi201903_data, citi201904_data, citi201905_data]
citi_spring2019 = pd.concat(citi_feb_may2019)
citi_spring2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924558,304,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,423.0,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,2
1924559,324,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003.0,1 Ave & E 18 St,40.733812,-73.980544,536.0,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,2
1924560,1926,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146.0,Hudson St & Reade St,40.716250,-74.009106,422.0,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,1
1924561,2047,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658.0,W 18 St & 9 Ave,40.743534,-74.003676,2008.0,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,0
1924562,964,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285.0,Broadway & E 14 St,40.734546,-73.990741,3656.0,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,2

In [13]:
citi_spring2019.to_csv('Citi_spring2019.csv')